@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentAi>
@{
	Layout = null;
	var title = Model.ContentTitle;
}

<h1>Test AI page</h1>

<p>Title = @title</p>